@use '../../../theme/' as t;

.example {
	@include t.example();

	padding: 50px;

	font-size: 24px;

	pre {
		background-color: gainsboro;
		color: dimgray;
		font-family: monospace;
		padding: 10px;
		margin-block: 20px;
	}
}